<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
<body>

    <div class='container'>
        <div ng-app="myApp" ng-controller="myCtrl">

        <h3>Treatment Algorithms and Summaries</h3>

        <input placeholder="Search" type="text" ng-model="test">

        <div 
            class='collection'
            ng-repeat="x in names | filter:test">
                  <a href="./{{x.link}}.html" class="collection-item">{{x.name}}</a>
        </div>

        </div>
    </div>



    <script>
        angular.module('myApp', []).controller('myCtrl', function($scope) {
            $scope.names = [
                {name:'Diabetes Type II (DM, DM Type II)', link:'dm2'},
                {name:'Diabetes Type II: Medication Guide',link:'dm2 medication guide'},            
                {name:'Heart Failure with Reduced Ejection Fraction (HFrEF)',link:'hf'},           
                {name:'Hypertension (HTN)',link:'htn'},
                {name:'Hypertension (HTN): Secondary Causes', link:'htn secondary causes'},                
    
            ];
        });
    </script>


</body>
</html>
